<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <title>SureShoppe Clothing Products</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/fontawesome.css">
    <link rel="stylesheet" href="static/templatemo-sixteen.css">
    <link rel="stylesheet" href="static/css/owl.css">
    <link rel="stylesheet" href="static/custom.css">
    <link rel="icon" type="image/png" href="static/Logo.png"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
  </head>

  <body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="position-fixed">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{{ url_for('home')}}"><h2>Sure <em>Shoppe</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="float-right">
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home')}}">Home</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('products')}}">Our Products</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about')}}">About us</a>
          </li>
              <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contactus')}}">Contact us</a>
          </li>
              {% if loggedIn  %}
					<li class="nav-item">
                      <a class="nav-link" href="#" style="text-decoration: none">Hi, {{ name }}</a>
                    </li>
                    <li>
                      <a class="nav-link" href="{{ url_for('logout') }}" style="text-decoration: none">Logout</a>
                    </li>
                    <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('cart')}}">Cart</a>
                  </li>
				{% endif %}
				{% if not loggedIn  %}
					<li class="nav-item">
                      <a class="nav-link" href="{{ url_for('login') }}" style="text-decoration: none">Login</a></li>
                    <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('register')}}">Register</a>
                  </li>
				{% endif %}
         </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h1>Your Cart</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5 p-3 rounded cart">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="product-details mr-2">
                <div class="d-flex flex-row align-items-center"><href src="">Continue Shopping</href></div>
                <hr>
                <h6 class="mb-0">Shopping cart</h6>
                    <div class="d-flex flex-row align-items-center"><span class="text-black-50">Sort by:</span>
                        <div class="price ml-2"><span class="mr-1">price</span><i class="fa fa-angle-down"></i></div>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
                    <div class="d-flex flex-row"><img class="rounded" src="static/product_01.jpg" width="40">
                        <div class="ml-2"><span class="font-weight-bold d-block">Trek Shoes</span><span class="spec">comfortable trek shoes</span></div>
                    </div>
                    <div class="d-flex flex-row align-items-center"><span class="d-block ml-5 font-weight-bold">$25.75</span></div>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
                    <div class="d-flex flex-row"><img class="rounded" src="static/product_02.jpg" width="40">
                        <div class="ml-2"><span class="font-weight-bold d-block">All Weather Jacket</span><span class="spec">Made from heavy waxed canvas</span></div>
                    </div>
                    <div class="d-flex flex-row align-items-center"><span class="d-block ml-5 font-weight-bold">$30.25</span></div>
                </div>

        </div>
        <div class="col-md-4">
            <div class="payment-info">
                <div class="d-flex justify-content-between align-items-center"><span>Card details</span></div><span class="type d-block mt-3 mb-1">Card type</span><label class="radio"> <input type="radio" name="card" value="payment" checked> <span><img width="30" src="https://img.icons8.com/color/48/000000/mastercard.png" /></span> </label>
                <label class="radio"> <input type="radio" name="card" value="payment"> <span><img width="30" src="https://img.icons8.com/officel/48/000000/visa.png" /></span> </label>
                <label class="radio"> <input type="radio" name="card" value="payment"> <span><img width="30" src="https://img.icons8.com/ultraviolet/48/000000/amex.png" /></span> </label>
                <label class="radio"> <input type="radio" name="card" value="payment"> <span><img width="30" src="https://img.icons8.com/officel/48/000000/paypal.png" /></span> </label>
                <div><label class="credit-card-label">Name on card</label><input type="text" class="form-control credit-inputs" placeholder="Name"></div>
                <div><label class="credit-card-label">Card number</label><input type="text" class="form-control credit-inputs" placeholder="0000 0000 0000 0000"></div>
                <div class="row">
                    <div class="col-md-6"><label class="credit-card-label">Date</label><input type="text" class="form-control credit-inputs" placeholder="12/24"></div>
                    <div class="col-md-6"><label class="credit-card-label">CVV</label><input type="text" class="form-control credit-inputs" placeholder="342"></div>
                </div>
                <hr class="line">
                <div class="d-flex justify-content-between information"><span>Subtotal</span><span>$56.00</span></div>
                <div class="d-flex justify-content-between information"><span>Shipping</span><span>$20.00</span></div>
                <div class="d-flex justify-content-between information"><span>Total(Incl. taxes)</span><span>$76.00</span></div><button class="btn btn-primary btn-block d-flex justify-content-between mt-3" type="button"><span>$76.00</span><span>Checkout</span></button>
            </div>
        </div>
    </div>
</div>

    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; 2020 SureShoppe Clothing Co., Ltd.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="static/jquery.min.js"></script>
    <script src="static/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="static/custom.js"></script>
    <script src="static/owl.js"></script>
    <script src="static/slick.js"></script>
    <script src="static/isotope.js"></script>
    <script src="static/accordions.js"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>


  </body>

</html>
