<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Shop</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/categories.css">
    </head>
    <body>
		<p>FASHION</p>
		<a href="fashion.html">
        <img src="static/fashion1.jpg" alt="fashion" class="center">
		</a>
		<p>ELECTRONICS</p>
		<a href="electronics.html">
        <img src="static/e.png" alt="electronics" class="center">
		</a>
		<p>BOOKS</p>
		<a href="books.html">
        <img src="static/books.jpg" alt="books" class="center">
		</a>		
</body>
</html>