<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SureShoppe Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="static/login.css">
        <link rel="stylesheet" href="static/fontawesome.css">
        <link rel="stylesheet" href="static/templatemo-sixteen.css">
        <link rel="stylesheet" href="static/owl.css">
    </head>

    <body>
        <div class="form-container sign-in-container">
		{% if msg  %}
		<div class="alert alert-secondary" role="alert">
			<p class="msg">{{ msg }}</p>
		</div>
		{% endif %}
        <div class="login">
            <h1>SureShoppe Login</h1>
            <form method="post">
                <input type="text" name="email" placeholder="Email" required="required" />
                <input type="password" name="password" placeholder="Password" required="required" />
                <button type="submit" class="btn btn-primary btn-block btn-large">Login</button><br>
                <label> Don't have an account?  &nbsp; &nbsp; <a href="{{url_for('register')}}">Register here</a></label>
            </form>
        </div>
    </body>
</html>